<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Mobile OLXID" verbose="2" parallel="tests" thread-count="2">

    <!-- Comment This Listeners to disable Retry Rule-->
    <listeners>
        <listener class-name="Listeners.RetryListeners" />
    </listeners>

    <!--<test name="Daftar Apps OLXID" preserve-order="false">-->
       <!--<parameter name="udid" value="192.168.99.101:5555"/>-->
       <!--&lt;!&ndash;parameter name="ipNode" value="http://172.16.100.68:4725/wd/hub"/&ndash;&gt;-->
       <!--<classes>-->
          <!--<class name="scenarios.DaftarPageTest"/>-->
       <!--</classes>-->
    <!--</test>-->

</suite>